/* Sass variables*/
@font-face {
  font-family: 'FontBureau';
  src: local("MyFont"), url(../media/fonts/FontBureau.woff) format("woff"); }

/*------------- Heading mixins*/
/*------------- Breakpoints mixin*/
/*------------- Flexbox mixins*/
/*------------- Flexbox center mixin*/
body,
div,
footer,
html,
li,
main,
nav,
ul {
  margin: 0;
  padding: 0; }

body {
  font-family: 'FontBureau'; }

h3,
.h3 {
  font-size: 1.25rem; }

ul {
  list-style: none; }

span {
  margin: 0 0 0 0.5em; }

.view {
  margin: 0 auto;
  max-width: 640px;
  border-left: 1px solid rgba(0, 0, 0, 0.12);
  border-right: 1px solid rgba(0, 0, 0, 0.12); }

.card {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 0;
  border: 0 none; }
  .card > .card-block {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: space-between;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    padding: 1em;
    border-bottom: 1px solid #B69F58; }
    .card > .card-block .price-div {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      -ms-justify-content: space-between;
      justify-content: space-between;
      -ms-flex-pack: space-between;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      align-items: center;
      width: 100%;
      height: 2.4em; }
    .card > .card-block .form-control {
      margin: 0; }

.lista {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  .lista .card-block {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: space-between;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    padding: 1em;
    border-bottom: 1px solid #B69F58; }
    .lista .card-block p {
      margin: 0; }
  .lista .list-group {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: space-between;
    padding: 1em; }
    .lista .list-group > li > ul > li {
      padding: 0 0 0.2em; }
    .lista .list-group > li:nth-child(1) {
      width: 20%;
      padding-top: 1em; }
    .lista .list-group > li:nth-child(2) {
      width: 55%; }
      .lista .list-group > li:nth-child(2) > ul > li:nth-child(1) {
        font-size: 1.7em; }
      .lista .list-group > li:nth-child(2) > ul > li:nth-child(2) {
        position: relative; }
        .lista .list-group > li:nth-child(2) > ul > li:nth-child(2) span {
          position: absolute;
          top: 0.1em; }
    .lista .list-group > li:nth-child(3) {
      width: 25%;
      padding-top: 1em; }
      .lista .list-group > li:nth-child(3) > ul > li > svg {
        float: right; }

.card-block-top {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: space-around;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  align-items: flex-end;
  background: white;
  padding: 0;
  margin: 0 0 2em; }
  .card-block-top .card-link {
    width: 100%;
    text-align: center;
    padding: 1em 0;
    color: #030303; }
  .card-block-top a:first-child {
    border-bottom: 1px solid #B69F58; }

svg {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.4em;
  fill: #B69F58; }
