.view.salong {
  background: #f1f3f4; }

.card {
  position: relative; }

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.card-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 0; }

.card-title {
  font-size: 2rem;
  color: #fff;
  line-height: 1;
  margin: 0; }

.card-text {
  display: flex;
  flex-direction: row; }
  .card-text .votes {
    color: #fff; }

.card-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .card-nav svg {
    fill: white; }

.list-group li {
  background: #fff;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #f1f3f4;
  position: relative;
  display: block; }

.list-group span {
  vertical-align: middle;
  display: inline-block;
  line-height: 2.5;
  text-align: center; }

.list-group svg {
  fill: #030303;
  margin: 0 0.5em 0 0; }

.list-group > li:nth-child(2) svg:nth-child(3) {
  fill: #B69F58;
  margin: 0 0 0 0.5em; }

.list-group > li:nth-child(5) {
  border-bottom: none; }
